<style>
    * {
        box-sizing: border-box;
    }
    .header, .footer {
        background-color:black;
        color: white;
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }
    .column {
        float: left;
        padding: 15px;
        
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .menu {
        width: 25%;
    }
    .content {
        width: 75%;
    }
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .menu li {
        padding: 8px;
        margin-bottom: 8px;
        background-color: #45a049;
        color: #ffffff;
        font-size: 25px;
        
    }
    .menu li:hover {
        background-color: #45a049;
        -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
        transition: width 1s;
        width: 300px;
    }
    
    </style>
<body>
    <div class="header">
        <h1>Contact Information</h1>
      </div>
      
      <div class="clearfix">
        <div class="column menu">
          <ul>
            <li>{{firstname}}</li>
            <li>{{surname}}</li>
            <li>{{country}}</li>
            <li>{{subject}}</li>
          </ul>
        </div>
      
        <div class="column content">
          <h1>This Layout displays the information of the user.</h1>
          <p>We will contact you after recieving your contact information, please be patient with us we will be with you shortly</p>
          <p>You will learn more about our App.</p>
        </div>
      </div>
      
      <div class="footer">
        <p>@contact info.</p>
      </div>
</body>
    
   