<body>   
    <iframe width="600" height="300" src="https://www.youtube.com/embed/adtWEmzjPU0"></iframe> 
    <style>
    #mySidenav a {
        position: absolute;
        left: -80px;
        transition: 0.3s;
        padding: 15px;
        width: 100px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 0 5px 5px 0;
    }
    
    #mySidenav a:hover {
        left: 0;
    }
    
    #about {
        top: 20px;
        background-color: 	#4CAF50;
    }
    
    #events {
        top: 80px;
        background-color: black;
    }
    
    #booking {
        top: 140px;
        background-color: 	#4CAF50;
    }
    
    #view {
        top: 200px;
        background-color: black;
    }
    </style>
    
    <div id="mySidenav" class="sidenav">
        <a id="about" routerLink="about">About</a>
        <a id="events" routerLink="/events">Home</a>
        <a id="booking" routerLink="/booking">Booking</a>
        <a id="view" routerLink="/contact">Contact</a>
    </div>
  
<h1>SOUTH AIRWAYS FLIGHTS</h1>
<h2>A Star Alliance Member</h2>

<h3>ABOUT US</h3>
<div class="lone">
<p>
  
    Welcome to SA Flights
    
    South African Airways  (SOC) Ltd (SAAT) is a full-service MRO organisation, the largest in Africa.<br>
    SAAT has held full and uninterrupted US Federal Aviation Authority certification since the late nineteen eighties, serving a<br>
    range of local and international airlines.<br>
    Prior to 1 April 2000, SAAT was a division of SAA. SAA Technical was corporatized on 1 April 2000 and fully registered<br> as SAA Technical (SOC) Limited to become a wholly owned subsidiary of SAA (SOC) Ltd.
    <br><br>
    SAA  is sole provider of aircraft maintenance to SAA, Mango and Comair/Kulula which are the premier carriers
    in South Africa.<br>
    SAA Technical also provides MRO services to a variety of regional and other airlines such as Air Namibia, Rwandair, TAAG, Arik Air, <br>Trans Air Congo, Korongo Airlines,<br>
    Air Zimbabwe, Air Mauritius, Air France, KLM and Turkish Airlines among others.<br>
    Market segments include: major airframe checks; engine overhaul; mechanical components; avionics; and line maintenance.<br>
    SAAT’s main operational base is Johannesburg and it also services customers in Cape Town, Durban and other regional airports.
    <br>
    <br>
    History<br>
    <br>

    South African Airways Technical (SOC) Ltd (SAAT) is a full-service MRO organisation, the largest in Africa. SAAT has held full and<br> uninterrupted US Federal Aviation Authority certification since the late nineteen eighties, serving a range of local and international airlines.<br> Prior to 1 April 2000, SAAT was a division of SAA.<br>
    SAA Technical was corporatized on 1 April 2000 and fully registered as SAA Technical (SOC) Limited to become a wholly owned <br>subsidiary of SAA (SOC) Ltd.
    <br><br>
    Benefits<br>
    <br>
    By choosing the SAA Technical team to carry out your maintenance and repair work, you as a customer are guaranteed the following:<br>
    <li>
      <ul>Excellent Turn Around Times and Dispatch Reliability.</ul>
    
      <ul>Competitive labour rates.</ul>
    
     <ul>A broad skills-base.</ul>
    
    <ul>Comprehensive support from Component and Workshops Services.</ul>
    
    <ul>Excellent and world-class facilities.</ul>
  
    </li>
    We have numerous other international /regional certifications & approvals!!

</p>
</div>
   

<div class="ned">         
<p>© 2018 South Airways Flights</p>
</div>
<div class="neds">        
    <img [src]="'assets/logo.jpeg'" align-bottom right alt="image">
    <h4>Help</h4>
    <p>Customer Support <br>
    Legal Technical Information<br>
    (011) 908 0000.
  </p> 
</div>
</body>
