

<html>
<head>
<title>Google Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="no">
    <img src="../../assets/fly.jpg" alt="image" height="300"  width="500" >
    </div>
    <div class="yes">
        <img src="../../assets/green.jpg" alt="image"  height="300"  width="500">
    </div>
    <div class="dont">
        <img src="../../assets/low.jpeg" alt="image"  height="300"  width="500">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

 
    <br>
  
    <p>
            Name: {{firstname}} <br><br>
            Surname: {{surname}}<br><br>
            Age: {{age}} <br><br>
            Departure: {{departure}}<br><br>
            Arrival: {{arrival}}<br><br>
            Date: {{date}}<br><br>
            Traveller: {{traveller}}<br><br>
            </p>

            <a id="events" routerLink="/events">Return</a>
</body>
</html>
<router-outlet></router-outlet>